body{
   background-color: Beige;
   
    height: 150vh;
    overflow-x: hidden;
}
.content{
    display: flex;
    padding-left: 450px;
    padding-top: 40px;
    gap: 5%;
    color: black;
   
}
.dropdown-menu{
    border: 1px solid;
    width: 100px;
    padding-left: 20px;
    height: 29px;
    color: blue;
    background-color: blue;
    position: absolute;
    left: 200px;
    border-radius: 5px;
    
  
}
.dropdowncontainer{
    border: 1px solid;
    width: 150px;
    height: 29px;
    background-color: blue;
    position: absolute;
    left: 11px;
    border-radius: 5px;
}
.mySlides{
    margin-left: 600px;
    margin-top: 60px;
}
.dropdown{
    display: flex;
    gap: 2%;
}

#figure{
 
    height: 380px;
    width:720px;
}
#gender{
    padding-left: 750px;
    color:black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
#image{
   
    height: 380px;
    width:600px;
}
.header{
    text-align: center;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}
#strength{
    padding-left: 300px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#img{
    
    height: 380px;
    width:600px; 
}
.hardworkers{
    
    padding-left: 560px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#content{
    padding-left: 450px;
  color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#title{
    padding-left: 450px;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#text{
    padding-left: 450px;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#relationship{
    padding-left: 450px;
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif ;
}

.figuringout{
    display: flex; 
    padding-left: 1px;
}
.recomendedproduct{
    padding-left: 1px;
}
#family{
    
    height: 380px;
    width:600px; 
}
.header{
    width: 100vw;
    height: 30vh;
    border: 1px solid;
    border-radius: 5px;
    height: 130px;
    gap:15%;
    background-color: bisque;
    color: black;

}
.groupname{
    background-color: rgb(6, 6, 112);;
    margin: -1%;
    text-align: center;
    color: white;

}
.image3{
    padding-top: 90px;
}
.footer{
    padding-top: 400px;
}
.scorablecontent{
    overflow: scroll;
    width: 1300px;
    height: 1000px;
    /* border: 1px solid; */
    overflow-x: hidden;
    padding-left: 170px;
    padding-top: 100px;
}
.blogtitle{
    text-align: center;
    color: white;
    font-size: 2em;

}
.body{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 2%;
    height: 70%;
    gap:40%;

}
#home{
    color: white;
    font-size: 15px;
}
.dropdown-menu a{
    color:black;
    text-decoration: none;
    gap:12%;
}

.navBar a{
    text-decoration: none;
}
.footer{
   display: flex;
   gap: 5%;
   justify-content: center;
   padding-top: 10px;
   background-color:bisque;
   font-size: medium;
   color: black;
   font-family: 'Times New Roman', Times, serif;
}
.books ul{
    list-style-type: none;
    
}
.books a{
    text-decoration: none;
   
}
.authors ul{
    list-style-type: none;
}
.authors a{
text-decoration: none;

}
#rosastory{
    font-family: Arial, Helvetica, sans-serif;
}
#oprahstory{
    font-family: Arial, Helvetica, sans-serif;
}
.articles ul{
    list-style-type: none;
}
.articles a{
    text-decoration: none;
   
}
    

#article{
    font-size: 45px;
}
.dropdown{
    gap:20%;
}
.container{
    padding-top: 15px;
    padding-left: 25%;
}
.recommendedproduct{
    padding-left: 10%;
}

@media only screen and (max-width:768px) {
    body{
        width: 100%;
        height: auto;
        margin: 0;
        padding:0;
        overflow-x: hidden;

    
}
.recomendedproduct{
    padding-left: 1px;
    margin-left: 1px;
}
.figuringout{
    flex-direction: column;
    margin-left: -100px;
}
#recommendation{
    padding-left: 1px;
}
#relationship{
    padding-left: 1px;
}
#gender{
    padding-left: 1px;
}
#content{
    padding-left: 1px;
}
.hardworkers{
    flex-direction: column;
    padding-left: 1px;
}
#title{
    display: flex;
    padding-left: 1px;
}
.image3{
    margin-top:10%;
    padding-top: 8px;
}
#text{
padding-left: 1px;
}
.body{
    width: 100%;
    flex-direction: column;
}
.dropdown{
    margin-top: 1px;
}
.dropdown-menu{
    margin-top: 1px;
}
.content{
    flex-direction: column;
    padding-left: 1px;
}
.scorablecontent{
flex-direction: row;
}
.navBar{

    width: 100%;
margin-bottom: 10%;
}
.content{
    display: flex;
}
.scorableimage3{
    height:1000%;
    width: 100;
}
.navBar ul{
    margin-top: -10%;
}
.navBar{
    border: solid 1px;
    border-radius: 5%;
    height: auto;
    width: 80%;
    padding-left: 40px; 
    padding-top: 20px;
}


.body{
    margin-top: 60%;
    border-radius: 2%;
    height: fit-content;

}

#image{
width: 100%;
}


}
.footer{
    position: absolute;
    margin-top: 100px;
    border: 1px solid;
    width: 100%;
    font-family: kurale;
    font-size: 15px;
}


@media only screen and(min-width:790px) and (max-width:1000){
    body{
        width: 100%;
        height: auto;
        margin: 0;
        padding:0;
    }
    .content{
        color: black;
        width: 100%;
        position: absolute;
        /* margin-top: 420%; */
    
    }
    
    .body{
        width: 100%;
        flex-direction: column;
    }
    
    .navBar{
    
        width: 100%;
    margin-bottom: 10%;
    }
    .navBar ul{
        margin-top: -10%;
    }
    .navBar{
        border: solid 1px;
        border-radius: 5%;
        height: auto;
        width: 80%;
        padding-left: 40px; 
        padding-top: 20px;
    }
    
    
    .body{
        margin-top: 60%;
        border-radius: 2%;
        height: fit-content;
    
    }
    
    #image{
    width: 100%;
    }
    
    .package{
        /* margin-top: 10%; */
       flex-direction: column;
       padding-bottom: 0;
       
    }
    .package{
        padding-left: 10px;
        padding-top: 5%;
        font-size: larger;
        
    }
    .footer{
        position: absolute;
        margin-top: 1170px;
    }
    .content #figure{
        width:100%;
    }

}
@media only screen and(min-width:1000px)and(max-width:1300px){
    body{
        width: 100%;
        height: auto;
        margin: 0;
        padding:0;

    
}
.content{
    color: black;
    width: 100%;
    position: absolute;
    margin-top: 200%;

}
header .header{
    /* width: 100px; */
    height:10px;
}
.body{
    width: 100%;
    flex-direction: column;
}

.navBar{

    width: 100%;
margin-bottom: 10%;
}
.navBar ul{
    margin-top: -10%;
}
.navBar{
    border: solid 1px;
    border-radius: 5%;
    height: auto;
    width: 80%;
    padding-left: 40px; 
    padding-top: 20px;
}


.body{
    margin-top: 60%;
    border-radius: 2%;
    height: fit-content;

}

#image{
width: 100%;
}

.package{
    /* margin-top: 10%; */
   flex-direction: column;
   padding-bottom: 0;
   
}
.package{
    padding-left: 10px;
    padding-top: 5%;
    font-size: larger;
    
}
.footer{
    position: absolute;
    margin-top: 1570px;
}
.content #figure{
    width:100%;
}
}






